body {
    background-color: rgb(194, 182, 165);
}

/* CSS selector */

/*

.primary.fancy      <-- must have both classes
.controls .primary  <-- (NB: space!) primary inside controls
button.primary      <-- <button> element with class="primary"

.nature-sounds input   <-- matching HTML element name, using nesting
.nature-sounds .choice <-- matching custom class attribute, using nesting

*/

/* REMOVE BORDERS EVENTUALLY
        USE JUST FOR VISUALIZAITON */
div{
    border: solid #f20303;
}

/* Settings for all of the divs */
.main{
    border: solid lightgreen;
    display: flex;  
    flex-flow: row wrap;
    justify-content: flex-end;
}

.music{
    border: solid blue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 65%;
}

.buttons{
    border: solid greenyellow;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: flex-start;
}

.currentTracks{
    border: solid orange;
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    text-align: center;
    justify-content: center;
}

.noise{
    border: solid green; 
    display: flex;
    flex-wrap: row wrap;
    text-align: center;
    justify-content: space-between;
    width: 40%;
}


/* Settings for the buttons */
button {
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Play, pause, resume */
.primary {
    font-size: 300%;
    border: 12px solid rgb(5, 22, 56);
    background-color: rgb(187, 219, 255);
    color: rgb(5, 22, 56);
    border-radius: 1ex;
    margin: auto;
    height:190px;
    width: 400px;
    margin-top: 0px;
}

.primary:hover {
    background-color: rgb(132, 171, 215);
}

/* Like and change it up */
.secondary{
    /* font-size:100%; */
    width: 300px;
    border-radius: 3ex;
    border: 12px solid rgb(65, 5, 5);
    background-color: rgb(255, 187, 187);
    color: rgb(65, 5, 5);
    font-size: 150%;
    display: block;
    margin: auto;
}

.secondary:hover{
    background-color: rgb(209, 130, 130);
}

#mute {
    border: 12px solid rgb(50, 34, 11);
    border-radius: 5ex;
    background-color: rgb(212, 191, 162);
    color: rgb(50, 34, 11);
    margin-top: 10px;
    font-size: 200%;
    justify-content: flex-end;
}

#mute:hover{
    background-color: rgb(164, 141, 108);
}

/* Checkboxes */
label {
    display:inline-block;
    position: relative; 
    padding:10px;
    cursor: pointer;
    width: 160px;
    height: 20px;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label img {
    height: 40px;
    width: 40px;
    object-position: center;
    padding: 5px;
}

/* more specific settings for the checkboxes */
.container{
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: fit-content;
    height: fit-content;
    border:12px solid rgb(8, 72, 90);
    border-radius: 5ex;
    background-color: rgb(218, 249, 251);
    color: rgb(8, 72, 90);
}

/* hiding the default box */
.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* initial settings of the box */
.checkmark{
    position: absolute;
    top: 25px;
    left: 10px;
    height: 15px;
    width: 15px;
    background-color: rgb(218, 249, 251);
    border: .5ex solid rgb(8, 72, 90);
    border-radius: .5em;
}

/* Changing the color of the box when mouse is hovering */
.container:hover input ~ .checkmark{
    background-color: rgb(58, 120, 124);
}

/* Changing the background color of the box when clicked */
.container input:checked ~ .checkmark{
    background-color: rgb(8, 72, 90);
}

/* creating the checkmark */
.checkmark:after{
    content:"";
    position:absolute;
    display:none;
}

/* Showing the checkmark */
.container input:checked ~ .checkmark:after{
    display:block;
}

/* The checkmark */
.container .checkmark:after{
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid rgb(218, 249, 251);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Settings for just the like checkbox */
/* more specific settings for the checkboxes */
.container.like{
    width: 240px;
    border-radius: 3ex;
    padding: 15px 32px;
    padding-right: 7px;
    border:12px solid rgb(5, 65, 20);
    background-color: rgb(187, 255, 189);
    color: rgb(5, 65, 20);
    font-size: 150%;
}

/* initial settings of the box */
.container.like input ~ .checkmark{
    top: 16px;
    background-color: rgb(187, 255, 189);
    border: .5ex solid rgb(5, 65, 20);
}

/* Changing the color of the box when mouse is hovering */
.container.like:hover input ~ .checkmark{
    background-color: rgb(54, 120, 55);
}

/* Changing the background color of the box when clicked */
.container.like input:checked ~ .checkmark{
    background-color: rgb(5, 65, 20);
}

.container.like .checkmark:after {
    border: solid rgb(187, 255, 189);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* The box outline around music and noises */
fieldset {
    border:3px solid #000000;
    width: 350px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 3em;
}

/* specifically for the music box */
#musicBox{
    width: 800px;
}

/* The volume sliders */
input[type="range"] {
    appearance: none;
    background: linear-gradient(to right, rgb(5, 22, 56) 0%, rgb(5, 22, 56) 50%, rgb(187, 219, 255) 50%, rgb(187, 219, 255) 100%);
    accent-color: rgb(5, 22, 56);
    border: solid 2px rgb(5, 22, 56);
    border-radius: 8px;
    height: 7px;
    width: 130;
    outline: none;
}

/* Specifically for the background noise */
input[type="range"].background {
    background: linear-gradient(to right, rgb(8, 72, 90) 0%, rgb(8, 72, 90) 50%, rgb(218, 249, 251) 50%, rgb(218, 249, 251) 100%);
    accent-color: rgb(8, 72, 90);
    border: solid 2px rgb(8, 72, 90);
} 

/* The currently playing tracks */
.trackIcon{
    display:flex;
    cursor: default;
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 20px; 
    font-size: 300%;  
    text-align: center;
}

.trackIcon img {
    width: 100px;
    height: 100px;
}
