body {
    background-color: rgb(194, 182, 165);
}

.controls {
    text-align: center;
}

/* CSS selector */

/*

.primary.fancy      <-- must have both classes
.controls .primary  <-- (NB: space!) primary inside controls
button.primary      <-- <button> element with class="primary"

.nature-sounds input   <-- matching HTML element name, using nesting
.nature-sounds .choice <-- matching custom class attribute, using nesting

*/

button {
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition-duration: 0.4s;
}

/* Play, pause, resume */
.primary {
    font-size: 300%;
    border: 12px solid rgb(5, 22, 56);
    background-color: rgb(187, 219, 255);
    color: rgb(5, 22, 56);
    border-radius: 1ex;
    display:grid;
    margin: auto;
    margin-top: 2em;
    margin-bottom: .5em;
}

.primary:hover {
    background-color: rgb(5, 22, 56);
    color: rgb(187, 219, 255);
}

/* Like and change it up */
.secondary{
    font-size:100%;
    border-radius: 5ex;
    border: 12px solid rgb(65, 5, 5);
    background-color: rgb(255, 187, 187);
    color: rgb(65, 5, 5);
}

.secondary:hover{
    background-color: rgb(65, 5, 5);
    color: rgb(255, 187, 187);
}

/* .secondary:visited {
    background-color: rgb(255, 187, 187);
    color: rgb(65, 5, 5);
} */

/* like button specifically */
.secondary.holdsColor{
    border: 12px solid rgb(5, 65, 20);
    background-color: rgb(187, 255, 189);
    color: rgb(5, 65, 20);
}

.secondary.holdsColor:hover {
    background-color: rgb(5, 65, 20);
    color: rgb(187, 255, 189);
}

.secondary.holdsColor:focus { /* This kinda doesn't work yet */
    background-color: rgb(5, 65, 20);
    color: rgb(187, 255, 189);
}

label {
    border:1px solid #000000;
    width: 180px;
    height: 20px;
    padding:10px;
    margin:5px 0 1px;
    display:inline-block; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label:hover {
    background:#008CBA;
    cursor:pointer;
}

/* #like {
    background:blue;
} 
Why isn't this working???*/

fieldset {
    border:3px solid #000000;
    width: 900px;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
